# Get the country with most contracts, if tie use lexicographical sort to untie

In [13]:
import pandas as pd

In [14]:
dataset = pd.read_csv('data/contracts.csv', sep = ';')
dataset

      Company Country  Contracts
0  ExxonMobil      US        590
1  ExxonMobil      UK        300
2  ExxonMobil  Brazil         25
3     Nextera      US        125
4         BBC      UK        300
5         BBC  Brazil         30
6        HSBC      UK        114

In [15]:
#Sums the total contracts grouping by country
contracts_by_country = dataset.groupby('Country').sum('Contracts')
contracts_by_country

         Contracts
Country
Brazil          55
UK             714
US             715

In [16]:
#Gets greatest number of contracts
max_contracts = contracts_by_country.Contracts.max()

#Defines a selection for the greatest number of contracts
max_contracts_sel = contracts_by_country.Contracts == contracts_by_country.Contracts.max()

#Extracts the country names filtering by above selection
countries_with_max_contracts = list(contracts_by_country[max_contracts_sel].Contracts.index)

#Sorts the country names and gets the first one after sorting
countries_with_max_contracts.sort()
final_country = countries_with_max_contracts[0]

#Final print
print(f'The country with most contracts is {final_country}!! (It has {max_contracts} contracts.)')

The country with most contracts is US!! (It has 715 contracts.)